<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="StaticContent">
          <action type="Rewrite" url="{REQUEST_URI}"/>
        </rule>
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="/default.aspx"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>